body{
    max-width: 900px;
    display: grid;
    
}

div.profileHeadline{
    justify-self: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.profileLinks{
    margin-bottom: 20px;
}
div.profilePicture{
    margin-right: 20px;
}
div.profilePicture img{
    width: 250px;
    height: 250px;
}
div.profileTextAndPicture{
   display: flex;
}
div.profileText{
    margin-left: 10px;
    border: 1px black;
}

.usernameLogin label{
    width: 20%;
}

img {
    height: 100px;
    width : 100px;
    border-radius: 80%;
}

img {
    height: 100px;
    width : 100px;
    border-radius: 80%;
}
div.loginLabels{
    text-align: right;
    display: inline-block;
    margin-bottom: 5px;
}

.loginContainer{
    text-align: center;

}
