body{
    max-width: 100%;
    display: grid;  
}

div.profileHeadline{
    justify-self: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.profileLinks{
    margin-bottom: 20px;
}
div.profilePicture{
    margin-right: 20px;
}
div.profilePicture img{
    width: 250px;
    height: 250px;
}
div.profileTextAndPicture{
   display: flex;
}
div.profileText{
    margin-left: 10px;
    border: 1px black;
}

/* login */
img {
    height: 100px;
    width : 100px;
    border-radius: 80%;
    margin-bottom: 10px;
}

.usernameLogin label, .passwordLogin label{
    width: 45%;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 5px;
}

.usernameLogin input, .passwordLogin input{
    width: 43%;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #999;
}

.loginContainer{
    text-align: center;
    align-items: center;
}

.loginFieldset{
    display: inline-block;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 4px;
}

.loginFieldset legend{
    text-align: left;
    padding: 0 0px;
}

.logoutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginButtons input{
    width: 4%;
    height: 30px;
}

.loginButtons a input{
    width: 5%;
    height: 30px;
}

/* settings */

.settingsContainer h2{
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.settingsContainer{
    text-align: center;
    align-items: center;
}

.basedataFieldset{
    display: inline-block; 
    width: 98%;
}

.tellsomethingFieldset{
    display: inline-block;
    width: 98%;

}

.chatlayoutFieldset{
    display: inline-block;
    width: 98%;

}

.tellsomethingFieldset legend, .chatlayoutFieldset legend, .basedataFieldset legend{
    text-align: left;
    padding: 0 0px;
}

.basedataFieldset label{
    width: 18%;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 5px;
}

.basedataFieldset input, .basedataFieldset select{
    width: 18%;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #999;
}

.tellsomethingFieldset textarea{
    width: 100%;
    height: 170px;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #999;
}

.chatlayoutFieldset input{
    width: 5%;
    

}

.settingsButtons{
    display: flex;
    justify-content: center;
}


